@charset "utf-8";
.ScoreRowHeader
{
  float: left;
  width: 12%;
  background-color:white;
  color: black;
  position: relative;
  align: center;
  text-align: center;
  padding: 0px;
} 
.ScorePosition1
{
  float: left;
  width: 21%;
  background-color:white;
  color: black;
  position: relative;
  align: center;
  text-align: center;
  padding: 0px;
}
.ScorePosition2
{
  float: left;
  width: 21%;
  background-color:white;
  color: black;
  position: relative;
  align: center;
  text-align: center;
  padding: 0px;
}


/*startGameLayout2.css*/
/*记分主页面*/

div.RowHeadertable{
	background-color:white;
	height:6%;
	width:100%;
	font-size:130%;
	
}	

div.RowHeader{
	background-color:white;
	height:6%;
	width:100%;
	font-size:130%;
	border-bottom:1px solid #CCCCCC;
}	
	
div.PositionTouLie{
	

	height:40%;
	float:left;
	text-align:center;
	line-height:150%; 
}

	
div.PositionHang1{
	background-color:white;
	height:16%;
	width:100%;
	 
	border-bottom:1px solid #E6E6E6;
	 
}

div.PositionWeiZhiLie{
	background-color:white;
	 
	height:100%; 
	width:15%;
	float:left;
	
	text-align:center;
	line-height:600%;  
	font-size:120%;
	/*	
	position:fixed;
	left:50%;
	top:50%;
	margin-left:width/2;
	margin-top:height/2;
	*/
	
	/*position: fixed;
	top: 50%;
	left: 50%;
	background-color: #000;
	width:50%;
	height: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	*/
}

div.PositionWanJiaLie{
	position: relative;
	left:0%;
	top:15%;
	
	width:20%;
	height:100%;
	float:left;
	text-align:center;
	line-height:450%; 
    
}

div.row2:after 
{
	position: relative;
	left:0%;
	top:0%;
	
	width:25%;
	height:80%;
	float:left;
	text-align:center;
	line-height:450%; 
	
	
	/* 
    content: "";
    clear: both;
    display: table;
	padding-bottom: 2px;
	*/
}

img.Playerimg{
	width:90%;
	height:65%;
	
	
}

div.PlayerName{
	width:90%;
	height:20%;
	
	position: absolute;
	left:5%;
	top:45%;
	
	
	text-align:center;
	line-height:150%; 
	color:white;
	background-color:rgba(153,204,255,0.5);
}

div.PositionZongFenLie{

	height:100%;
	width:20%;
	float:left;
	
	text-align:center;
	line-height:500%; 
	font-size:150%;
	
}	

div.PositionDeFenLie{
	height:100%;
	width:20%;
	float:left;
	
	text-align:center;
	line-height:500%; 
	font-size:150%;
}



div.PositionJiFenLie{
	background-color:white;
	height:100%;
	width:25%;
	float:left;
	text-align: center;
    line-height: 630%;
    font-size: 120%; 
	
	color: black;
	font-weight: 500;
}

.inputJiFen{
	width:80%;
	height:35%;
	margin-left:10%;
	margin-top:30%;

	border-color: #DDDDDD;
	
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

div.Position5{
	background-color:white;
	height:24%;
	width:50%;
	float:left;
	
}




.divbtn1{

	width:90%;
	height:20%;
	
	position:absolute; 
	top: 78%;
	left: 5%
}


.divbtn2{
    float:left;
	
	width:30%;
	height:100%;
	

}

.divbtn3{
   
	width:100px;
	height:50px;
	
	position:relative; 
	left:50%; 
	top:90%;
}	
	

/*历史得分页面*/

div.Position7{
	background-color:white;
	height:20%;
	width:100%;
	float:left;
	
/*	padding:20px;
*/
	position:absolute; 
	top: 80%;
	left: 0%
	
}

.divbtn3{
	width:100px;
	height:50px;
	
	 
}

.btn3{
     
	width:100px;
	height:50px;
	
	position:relative; 
	 top:70%;
	 left:135%;
}	

/*startGameLayout2.css*/