@charset "utf-8";
.hidden{
	position: absolute;
	left: -9999px;
	top: -9999px;
	visibility: hidden;
}

div.summary {
    background-color: blue;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid white;
/**	display:block; */
}

th {
	width: 100%;
	border: 1px solid white;			
}

tr {
	width: 100%;
	border: 1px solid black;
	
}


td{
	width: 100%;
	border: 1px solid white;
	
}


thead {
/**	display: inline-block; */
	width: 100%;
}

tbody {
	width: 100%;
/**	display: inline-block; */
/**   overflow: auto; */
}




/**wxmj_layout.css*/
div.row:after 
{
    display: table;
	padding-bottom: 2px;
}

div.column
{
  color: white;
  display: table-cell;
  vertical-align: middle;
}

div.positionColumn
{
  float: left;
  width: 24.7%;
  background-color:navy;
  color: white;
  position: relative;
  align: center;
  display: table-cell;
  text-align: center;
}

div.paddingColumn
{
  float: left;
  width: 0.3%;
  background-color:while;
  color: white;
  position: relative;
  height: 20px;
  align: center;
  display: table-cell;
  
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;  
  height: 100%;
}
img.icon {
	width: 100%;
}
 
/**wxmj_layout.css*/