{
	"button":[
		 {	
			  "type":"view",
			  "name":"开局",
			  "url": "${StartGameUrl}"
		  },

		  {	
			  "type":"view",
			  "name":"附近牌局",
			  "url":"${SearchGameUrl}"
		  },
		  {
			   "name":"帮助",
			   "sub_button":[
					{	
					   "type":"view",
					   "name":"帮助",
					   "url":"${HelpUrl}"
					},
					{
					   "type":"click",
					   "name":"赞一下我们",
					   "key":"${SettingEndorse}"
					}
					
				]
		   }
	   ]
}