{
	"NewsItems":[
	    {
    		"title": "一人计分，其他牌友实时查看分数",
    		"desc":"",
    		"url": "",
            "picUrl": "http://mj.oosbt.com/weixinmj/icon/timg2.jpg";
    	},
		{
			"title":"每盘得分、每个牌友净赢分一目了然，不需要再用纸牌换算。",
			"desc":"",
			"url": "",
            "picUrl": "";
		},
	    {
            "title":"点击“开局”等待好友加入",
        	"desc":" ",
        	"url": "${StartGameUrl}",
            "picUrl": "http://mj.oosbt.com/weixinmj/icon/right_arrow.png";
        },
		{
            "title":"点击“附近牌局”加入好友的牌局。",
        	"desc":" > ",
        	"url": "${SearchGameUrl}",
            "picUrl": "http://mj.oosbt.com/weixinmj/icon/right_arrow.png";
        },
		{
            "title":"详细功能，请看“帮助”。",
        	"desc":" > ",
        	"url": "${HelpUrl}",
            "picUrl": "http://mj.oosbt.com/weixinmj/icon/right_arrow.png";
        }
	]
}