{
	"NewsItems":[
		{	
			"title":"<b>这是一款麻将计分实时系统。<b>所有玩家可以看到每人输赢分数，每盘得分记录。",
			"desc":"",
			"url": "",
            "picUrl": "";
		},
	    {
            "title":"步骤：主办方点开局按钮；其他玩家点击附近牌局按钮，选择一局，在新界面点击一个空位置加入，就可以实时看到分数",
        	"desc":"",
        	"url": "",
            "picUrl": "";
        }
	]
}